@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    scrollbar-width: thin;  /* Para Firefox */
    scrollbar-color: #DCDCDC black; /* Para Firefox */
  }
  
  /* Personalizando a barra de rolagem vertical para Webkit */
  ::-webkit-scrollbar {
    width: 8px;  /* Largura da barra de rolagem */
    height: 0;    /* Remover a barra horizontal */
  }
  
  /* Personalizando o "thumb" da barra de rolagem vertical */
  ::-webkit-scrollbar-thumb {
    background-color: #04471C;  /* Cor do "thumb" */
    border-radius: 4px;  /* Bordas arredondadas */
  }
  
  /* Personalizando a área de fundo da barra de rolagem vertical */
  ::-webkit-scrollbar-track {
    background-color: #d1d5db;  /* Cor de fundo da barra */
  }
  
  @layer base {
    :root {
      --sidebar-foreground: 240 5.3% 26.1%;
      --sidebar-primary: 240 5.9% 10%;
      --sidebar-primary-foreground: 0 0% 98%;
      --sidebar-accent: 240 4.8% 95.9%;
      --sidebar-accent-foreground: 240 5.9% 10%;
      --sidebar-border: 220 13% 91%;
      --sidebar-ring: 217.2 91.2% 59.8%;
    }
  
    .dark {
      --sidebar-foreground: 240 4.8% 95.9%;
      --sidebar-primary: 224.3 76.3% 48%;
      --sidebar-primary-foreground: 0 0% 100%;
      --sidebar-accent: 240 3.7% 15.9%;
      --sidebar-accent-foreground: 240 4.8% 95.9%;
      --sidebar-border: 240 3.7% 15.9%;
      --sidebar-ring: 217.2 91.2% 59.8%;
    }
  }
  @layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}
  